$main: #192a3e !default;
$white: #fff !default;
$primary: #24c7be !default;
$danger: #db3841 !default;
$color-bold: #2f495e !default;
$color-light: #606f7b !default;
$background-heavy: #e1e1e1 !default;
$background-light: #f8fafc !default;
$background-light2: #f1f3f6 !default;
$background-light3: #ecf0f6 !default;
$background-light4: #f3f4f6 !default;
$background-light5: #e5e7eb !default;
$background-spinner: #e5e7eb78 !default;
$blue: #0077cc !default;
$blueHover: #005fa3 !default;
$background-main: #f9fafb !default;

$header-height: 4rem;
