$main: #192a3e !default;
$white: #fff !default;
$background-light: #f8fafc !default;
$primary: #24c7be !default;
$danger: #db3841 !default;
$color-bold: #2f495e !default;
$color-light: #606f7b !default;
$background-heavy: #e1e1e1 !default;

$header-height: 4rem;
